<!DOCTYPE html>
<html>
  <head>
    <title>Society Simulation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="container">      
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
	<h1>Society Simulation:</h1>	
	<h2>A platform to gatter and curate social data, and use it to simulate aspects of different societies.</h2>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
